table{
	border: 2px solid gray;
	border-radius: 5px;
	background-color: white;
	font-family: serif;
}
td{
	border: 1px solid gray;
	border-radius: 5px;
	text-align: center;
	font: Times;
	height: 30px;
	width: 30px; 
}



